<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop ="http://www.springframework.org/schema/aop"
xmlns:tx  ="http://www.springframework.org/schema/tx"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd">


 <context:component-scan base-package="com.sample.controller" />
 
 <mvc:annotation-driven />


 <bean id="validator" 
      class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
      
 <!-- View -->
 <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
  <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
  <property name="prefix" value="/WEB-INF/jsp/"/>
  <property name="suffix" value=".jsp"/>
  <property name="order" value="2"/>
 </bean>
 
 <!-- Declare the Interceptor -->
 <mvc:interceptors>
  <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" p:paramName="locale" />
 </mvc:interceptors>
  
 <!-- Declare the Resolver -->
 <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" >
  <property name="defaultLocale" value="ja" />
 </bean>
 
 <!-- メッセージ -->
 <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
  p:basenames="messages-spring" />
 
 <!-- サービスとDaoの登録 -->
 <bean id="userService" class="com.sample.business.service.UserService">
  <property name="userDao" ref="userDao"/>
 </bean>
 <bean id="userDao" class="com.sample.dao.UserDao"/>

</beans>